config ZMK_XINPUT
    bool "ZMK XInput USB Gamepad Support"
    depends on ZMK_USB
    select USB_DEVICE_STACK
    help
      Enables an additional USB interface that presents as an Xbox 360
      (XInput) compatible gamepad alongside the standard HID keyboard.

if ZMK_XINPUT

config ZMK_XINPUT_LOG_LEVEL
    int "ZMK XInput Log Level"
    default 0

endif # ZMK_XINPUT
