CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F411XE=y
CONFIG_BOARD_WEACT_MINI_F411CE=y

# ARM Cortex-M4F
CONFIG_CPU_CORTEX_M4=y

# Enable FPU
CONFIG_FPU=y
CONFIG_FPU_SHARING=y

# Clock
CONFIG_CLOCK_STM32_HSE_CLOCK=25000000
CONFIG_CLOCK_STM32_SYSCLK_SRC_PLL=y
CONFIG_CLOCK_STM32_PLL_SRC_HSE=y
CONFIG_CLOCK_STM32_PLL_M_DIVISOR=25
CONFIG_CLOCK_STM32_PLL_N_MULTIPLIER=192
CONFIG_CLOCK_STM32_PLL_P_DIVISOR=2
CONFIG_CLOCK_STM32_AHB_PRESCALER=1
CONFIG_CLOCK_STM32_APB1_PRESCALER=2
CONFIG_CLOCK_STM32_APB2_PRESCALER=1

# USB
CONFIG_USB_DEVICE_DRIVER=y

# GPIO
CONFIG_GPIO=y

# Console disabled (USB CDC used instead)
CONFIG_UART_CONSOLE=n
